<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div class="d-flex justify-content-between mt-3">
    <%= button_to "Destroy this Book", @book, method: :delete, class: "btn btn-danger" %>
    <%= link_to "Back to Books", book_management_path, class: "btn btn-secondary" %>
  </div>
